// Place all the styles related to the galaxies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.supercluster {
  margin-top: 20em;
}

.galaxy_show {
  padding:2em;
  text-align: center;
}

.star_show {
  // border-top-right-radius:10%;
  background:rgba(128,128,128,0.1);
  padding:1em;
}
.galaxy_add {
  text-align: center;
  a {
    text-decoration: none;
    color:white;
    font-size: 3em;
  }
}

.galaxy_main{
  color: #00ffff !important;
  text-align: center;
  a {
    text-decoration: none;
    color:#00ffff;
    font-size: 10px;
  }
}

.galaxy_tab {
  text-align: center;
  display: inline-block;
  padding: 2em;
  float:left;
}

img {
  height:200px;
  width:200px;
}

.form{
  width:40%;
  margin: auto;
  color:black !important;
  margin: auto;
  padding: 2em;
  font-size: 1.4em !important;
  text-align: left;
  border:1px solid white;
  label {
    color: white !important;
  }
  input {
    width:100%;
  }
}

.back {
  background:rgba(128,128,128,0.5);
  padding:0.5em;
  color:white;
  margin-left: 0.1em;
  font-size:1.3em;
  text-decoration: none;
}
.galaxy_details{
  padding:1em;
  border:2px solid #8c8c8c;
  border-style: dotted;
  div {
    margin:1em;
  }
  span {
    color: #00ffff;
  }
}
.star_tab{
  text-align: left;
  a{
    color: white;
  }
  a:hover {
    color:white;
  }
}

.star_add {
  float:right;
  margin-top:0;
  font-size: 2em;
  color:white;
}

.delete {
  margin-left: 0.1em;
  background:rgba(255,0,0,0.5);
  padding:0.5em;
  color:white;
  font-size:1.3em;
  text-decoration: none;
}
