// Place all the styles related to the planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.planet_main {
  min-height: 100vh;
  text-align: center;

  .planet_row {

    .planet_main_div {

      .planet_heading {

        h1 {
          margin: 0.6em;
          color:#00ffff;
          font-size: 3em;
        }

      }

      .planet_image {

        #planet_image {
          height: 600px;
          width: 600px;
        }

      }

      .life_image {
        height: 100px;
        width: 100px;
      }
    }

    .planet_description {
      margin-top: 5%;

      .desc {
        margin-top: 5%;
        width:100%;
        padding:2em;
        text-align: left;
        max-height: 70vh;
        overflow-y: scroll;
        box-shadow: -3px 0 15px #00ffff;
        text-shadow: 0 0 15px #00ffff;
        h3 {
          text-align: center !important;
        }
        p {
          font-size:1.4em;
        }
        span {
          font-size: 1.1em;
          color:#00ffff;
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}
