// Place all the styles related to the stars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star_intro {
  border:1px solid red;
  text-align: center;
  padding: 1em;
}

.star_show {
  text-align: center;
  border:1px solid white;
}

.star_tab {
  text-align: center;
  border:1px solid red;
}

.star_planet_img {
  float:left;
}

.planet_details {
  text-align: center;
  // float:right;

}
