<nav class="navbar navbar-inverse top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand animated rollIn" href="/">Home</a>
    </div>
  </nav>
